.title {
  font-size: 35px; }

.mb-title {
  font-size: 28px; }

.mb-subtitle {
  font-size: 17px; }

.subtitle {
  font-size: 20px; }

.hushfeed {
  width: 100%;
  height: 100%; }
  .hushfeed h1 {
    margin: 0; }
  .hushfeed .text {
    font-family: "AvenirNext-UltraLight", sans-serif; }
  .hushfeed .background-image {
    height: 100%;
    background: url(../img/background.jpg);
    background-size: cover; }
  .hushfeed .pull-right {
    float: right; }
  .hushfeed .pull-left {
    float: left; }
  .hushfeed .iphone {
    width: 100%;
    display: block;
    background: transparent url(../img/hffull.gif) no-repeat center;
    background-size: contain; }
  .hushfeed .ios-download-button {
    margin: auto;
    border: 2.0px solid white;
    border-radius: 1px;
    padding: 10px 7px 10px 7px;
    font-size: 21px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    transition-duration: 0.3s;
    display: inline-block; }
    .hushfeed .ios-download-button:hover {
      transition-duration: 0.4s;
      transform: scale(1.05);
      padding: 10px 5px 10px 5px;
      color: white;
      background-color: #00adff; }
  .hushfeed .ios-download-button-selected {
    margin: auto;
    border-radius: 1px;
    padding: 10px 7px 10px 7px;
    font-size: 20px;
    text-decoration: none;
    transition-duration: 0.3s;
    display: inline-block;
    color: white;
    background-color: #00adff; }
  .hushfeed .media-link {
    text-align: center;
    width: 50px;
    transition-duration: 0.2s; }
    .hushfeed .media-link:hover {
      transition-duration: 0.4s;
      transform: scale(1.05);
      background-color: rgba(255, 255, 255, 0.2); }
  .hushfeed .align-vertical-center-container {
    display: inline-table; }
    .hushfeed .align-vertical-center-container .align-vertical-center-element {
      width: inherit;
      height: inherit;
      vertical-align: middle;
      display: table-cell; }
  .hushfeed .center {
    text-align: center;
    margin: auto; }
  .hushfeed .row {
    margin: 0; }
  .hushfeed #mobile {
    width: inherit; }
  .hushfeed #web {
    width: 100%;
    height: 100%; }
    .hushfeed #web #web-center-container {
      margin: 0 10% 0 10%;
      width: 80%;
      height: 100%; }
      .hushfeed #web #web-center-container #web-nav-bar {
        width: 100%;
        height: 100px; }
      .hushfeed #web #web-center-container #web-vp-container {
        height: 100%;
        text-align: center; }
        .hushfeed #web #web-center-container #web-vp-container #web-vp {
          font-weight: 500; }
        .hushfeed #web #web-center-container #web-vp-container #vp-desc {
          margin-bottom: 40px; }
      .hushfeed #web #web-center-container .web-nav-link {
        width: 150px;
        height: 100%;
        color: #00ADE1;
        font-family: "AvenirNext-UltraLight", sans-serif;
        font-size: 20px;
        font-weight: 300;
        transition-duration: 0.1s; }
        .hushfeed #web #web-center-container .web-nav-link a {
          text-decoration: none; }
        .hushfeed #web #web-center-container .web-nav-link:hover {
          color: #00B7FF;
          background-color: rgba(255, 255, 255, 0.2);
          transition-duration: 0.2s;
          transform: scale(1.05); }
    .hushfeed #web #web-footer-container {
      bottom: 0;
      position: fixed;
      width: 100%;
      height: 100px;
      background-color: rgba(255, 255, 255, 0.4); }
      .hushfeed #web #web-footer-container #web-footer-desc {
        text-align: center;
        color: #00adff;
        padding-top: 10px; }
